<button class="btn" (click)="showModalDialog()" icon="pi pi-external-link" label="Show">Добавить задачу</button>
<p-dialog header="Добавьте новую задачу" [(visible)]="displayModal" [style]="{width: '50vw'}">
  <div class="search">
    <input
      pInputText
      type="text"
      placeholder="Имя ответственного"
      [(ngModel)]="name"
    />
    <input pInputText type="text" placeholder="Заголовок задачи" [(ngModel)]="title" />
    <textarea rows="5" cols="30" pInputTextarea placeholder="Описание задачи" [(ngModel)]="description" ></textarea>
    <div class="mix">
      <span class="p-float-label">
        <p-calendar class="wh" [(ngModel)]="date" inputId="birth_date"></p-calendar>
        <label for="birth_date">Дата дедлайна</label>
      </span>
      <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [showClear]="true" placeholder="Приоритет"></p-dropdown>
    </div>
    <button class="btn" (click)="setData()">Добавить</button>
  </div>
</p-dialog>
