.container{
  margin-top:20px;

}
.lin{
  text-decoration: none ;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  border:1px solid gray;
  padding:10px;
  border-radius: 10px;
}
.load {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.head{
  display: flex;
  align-items: center;
  gap:15px;
  margin-bottom: 15px;
}
.text {
  color: var(--textColor);
}
.text2{
  border:1px solid gray;
  border-radius: 7px;
  padding: 5px;
  color:gray;
}
.text3{
  color: gray;
  margin-bottom: 7px;
}
.starts{
  display:flex;
  gap:5px;
  
}
.images{
  width: 20px;
}
.textColor{
  color:white;
}