<div class="load" *ngIf="isLoading">
  <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</div>
<div class="container" *ngIf="info">
  <div >
    <div class="lin" >
      <div>
        <div class="head">
          <div class="text">{{ info.title }}</div>
          <div class="text2">{{ info.description }}</div>
        </div>
        <div>
          <div class="text3">
            Status {{ info.completed }}
          </div>
        </div>
        <div class="text3">{{ info.line }}</div>
        
      </div>
      <div>
        <div class="starts">
            <img
              class="images"
              src="https://www.svgrepo.com/show/375902/star.svg"
            />
            <div class="text3">{{ info.people }}</div>
          </div>
          <div class="starts">
            <img
              class="images"
              src="https://www.svgrepo.com/show/530488/share.svg"
            />
            <div class="textColor">{{info.priority}}</div>
          </div>
      </div>
      <button>Изменить</button>
    </div>
  </div>
</div>
