<div class="parent">
  <div  class="container">
    <!-- <app-theme/> -->
    <div class="headMain">
      <a routerLink="/" class="textHead">DevFinder</a>
      <!-- <div class="hed">
        <div class="textHead2" (click)="toggleTheme()">{{theme==='dark' ? 'LIGHT' : 'DARK'}}</div>
        <img *ngIf="theme==='dark'" src='../assets/icon-sun.svg'/>
        <img *ngIf="theme==='light'" src='../assets/icon-moon.svg'/>
      </div> -->
    </div>

  
    <!-- Wrapper -->
    <div class="wrapper">
      <router-outlet>
        
        
      </router-outlet>
    </div>
  </div>
</div>
