// Your global styles: imports, variables, etc.
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #0079FF;
  --main-color-hover: #60ABFF;

  --white: #FFF;

  --gray-50: #F6F8FF;
  --gray-100: #697C9A;
  --gray-200: #4B6A9B;
  --gray-300: #2B3442;
  --gray-400: #1E2A47;
  --gray-500: #2f1426;

  --error-color: #F74646;

  --shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

body[data-theme="light"]{
  background-color: #F6F8FF;
  --textColor: black;
  --search: white;
  --bgInfo: #F6F8FF;
}

body[data-theme="dark"] {
  background-color: #141C2F; 
  --main-color: #ff794573;
  --textColor: white;
  --search: #1E2A47;
  --bgInfo: #141D2F;
 
}
body[data-theme='light'] {
  --info-color:  var(--gray-200);
}

body[data-theme='dark'] {
  --info-color: var(--gray-500);
}


app-root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.wrap {
  flex-wrap: wrap;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.full-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
