
<div class="filters">
  <div class="zz">
    <p-dropdown
      class="dd"
      [options]="cities"
      [(ngModel)]="selectedCity"
      optionLabel="name"
      [showClear]="true"
      placeholder="Выберите приоритет"
    ></p-dropdown>
    <p-dropdown
      class="dd"
      [options]="status"
      [(ngModel)]="selectedstatus"
      optionLabel="name"
      [showClear]="true"
      placeholder="Выберите статус"
    ></p-dropdown>
  </div>
  <div class="zz">
    <input
      class="dd"
      pInputText
      type="text"
      placeholder="Ответственный"
      [(ngModel)]="people"
    />
    <span class="p-float-label dd">
      <p-calendar
        dateFormat="dd.mm.yy"
        class="wh dd"
        [(ngModel)]="date"
        inputId="birth_date"
      ></p-calendar>
      <label for="birth_date">Дата дедлайна</label>
    </span>
  </div>
 
    <app-header class=""></app-header>
    <p-button  (click)="search()" class="btn d3">Искать</p-button>
  
</div>

<div class="load" *ngIf="isLoading">
  <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</div>

<div class="userCard" *ngIf="!isLoading">
  <div class="ww" *ngIf="store.books()">
    <div class="main" *ngFor="let item of store.books()">
      <a class="info" [routerLink]="'/repo/' + item.id">
        <div class="textStyle zag">
          <div>Заголовок:</div>
          <div>{{ item.title }}</div>
        </div>
        <div class="textStyle status">
          <div>Статус:</div>
          <div>{{ item.completed ? "Выполнено" : "Не выполнено" }}</div>
        </div>
        <div class="textStyle dedline">
          <div>Дедлайн:</div>
          <div>{{ item.line | date : "dd.MM.yyyy" }}</div>
        </div>
      </a>
      <img (click)="deleteTask(item.id)" class="image" src="https://www.svgrepo.com/show/464640/delete-alt.svg"/>
    </div>
  </div>
</div>
