<div class="load" *ngIf="isLoading">
  <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</div>
<div class="userCard" *ngIf="!isLoading && user">
  <img (click)="setStore()" [src]="user.avatar_url" class="avatar" />
  <div class="head">
    <div class="created">{{ user?.name }}</div>
    <h1 class="created2">{{ joinedDate }}</h1>
    <div class="created3">{{ "@" + user.login }}</div>
  </div>

  <p *ngIf="user.bio" class="bio">
    {{ user.bio || "This profile has no bio" }}
  </p>

  <div class="info">
    <a class="linkStyle" [routerLink]="'/repo/' + user.login" routerLinkActive="active">
      <div>Repos</div>
      <div>{{ user.public_repos }}</div>
    </a>
    <div>
      <div>Following</div>
      <div>{{ user.following }}</div>
    </div>
    <div>
      <div>Followers</div>
      <div>{{ user.followers }}</div>
    </div>
  </div>

  <div class="infoTwo">
    <div >
      <div class="soc">
        <img src="../../assets/icon-location.svg" />
        <span>{{ user.location || "Not Available" }}</span>
      </div>
    </div>
    <div >
      <div class="soc">
        <img src="../../assets/icon-website.svg" />
        <span>{{ user.blog || "Not Available" }}</span>
      </div>
    </div>
    <div >
      <div class="soc">
        <img src="../../assets/icon-twitter.svg" />
        <span>{{ user.twitter_username || "Not Available" }}</span>
      </div>
    </div>
  </div>
  <!-- <div>{{store.filter()}}</div> -->
</div>
